.myheader{
height: 70px;
background: #FFFFFF;
box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
}
.myapp{
    padding:0 70px 0 70px;
    margin-bottom:64px;
}
.headerText{
    padding-left:70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}



.galleryDiv{
    margin-top:40px;
}

.galleryHeader{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
}
.carousel-indicators{
    width:84px;
    padding:0;
    list-style-type: none;
}
.carousel-indicators li{
    width:12px;
    height:12px;
    background-color: #C9C9C9;
    border-radius:50%;    
}
.carousel-indicators .active{
    width:12px;
    height:12px;
    
    background-image: linear-gradient(91.83deg, #93E08C -1.93%, #78CEBF 97.03%);
}


.arrow-left{
width:32px;
height:32px;
background:url("https://firebasestorage.googleapis.com/v0/b/chatpwa-9c060.appspot.com/o/arrow-left.png?alt=media&token=7ce6c3de-d443-4b75-9c28-28c0e9831d79")
}
.arrow-right{
width:32px;
height:32px;
background:url("https://firebasestorage.googleapis.com/v0/b/chatpwa-9c060.appspot.com/o/arrow-right.png?alt=media&token=926358a0-98b2-4b49-9962-c1b1c3a7ac71")
}
.arrow-right:hover{
background:url("https://firebasestorage.googleapis.com/v0/b/chatpwa-9c060.appspot.com/o/arrow-right_hover.png?alt=media&token=a3de5a79-9d48-4249-9542-a4e98c50038d")    
}
.arrow-left:hover{
background:url("https://firebasestorage.googleapis.com/v0/b/chatpwa-9c060.appspot.com/o/arrow-right_hover.png?alt=media&token=a3de5a79-9d48-4249-9542-a4e98c50038d"); transform: rotate(-180deg);       
}











.gridTextHeader{
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
margin-bottom:12px;
}

.gridText p{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
}
.labelText{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 140%;
margin-left:18px;    
}
.labelText a{
    color:green;
}



.customCheck input[type="checkbox"] {
    display: none;
   }
   

.customCheck  label {
    color: #000;
   cursor: default;
   font-weight: normal;
   line-height: 30px;
   padding: 10px 0;
   vertical-align: middle;
   margin-left:5px;
  }
   

.customCheck  label:before {
    content: " ";
    color: #000;
    display: inline-block;

    font: 20px/30px FontAwesome;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #e3e3e3;
    border-image: initial;
    vertical-align: middle;
   }
   

.customCheck  input:checked + label:before {

    content: "\f00c";
    color:green;
   }



.customCheck input:disabled + label:before {
    background: #eee;
    color: #aaa;
   }


.customButton{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    width: 192px;
    height: 42px;
    background: linear-gradient(98.3deg, #93E08C -1.93%, #78CEBF 97.03%);
    border-radius: 3px;
}
    
::-webkit-inner-spin-button {display:none}

::-webkit-datetime-edit {display:none}
::-webkit-calendar-picker-indicator {
    position:absolute;
    right:16px;
    color: transparent;
    opacity: 1;
    height:22px;
    width:24px;
    background:url("https://firebasestorage.googleapis.com/v0/b/chatpwa-9c060.appspot.com/o/date.png?alt=media&token=d318cd03-09b4-417c-9444-d9f6c8383a06") no-repeat;
    background-size: contain;
  }
  .form-control:focus {
    border-color: #479C3F;;
    box-shadow: none;
  }    
   
    
   
    
   
html,body{
    width:100%;
}
